.confirm-new-account-form {
    border: 1px solid red;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%
}

.confirm-new-account-form input {
    border: 2px solid grey;
    border-radius: 5px;
    height: 2.5em;
    width: 20em;
    margin: 1em auto;
    padding: 0.5em 0.5em
}

.confirm-new-account-form button {
    border: 2px solid grey;
    border-radius: 15px;
    height: 2.5em;
    width: 20em;
    margin: 1em auto;
    padding: 0.5em 0.5em
}