.sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-up-form input {
    border: 2px solid grey;
    border-radius: 5px;
    height: 2.5em;
    width: 20em;
    margin: 1em auto;
    padding: 0.5em 0.5em
}

.sign-up-form button {
    border-radius: 20px;
    width: 280px;
    margin: 10px auto;
}